.searchform{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchform > input[type='text']{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  box-sizing: border-box;
  height: 8%;
}

.searchform > input[type='submit']{
    box-shadow: 0 0 5px rgb(0 0 0 / 27%);
    background-color: #ff9800;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax;
    width: 10%;
    outline: none;
    box-sizing: border-box;
    height: 12%;
    cursor: pointer;
    font-size:15px
}
